body {
    font-family: 'Montserrat', sans-serif;
    color: #fffffe;
}

.bg-app-1 {
    background-color: #004643;
}

.bg-app-2{
    background-color: #abd1c6;
}

.bg-title {
    background-color: #f9bc60;
}

.w-10 {
    width: 10%;
}

.fw-300 {
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.fc{
    color: #001e1d;
    text-align: justify;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

.shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon{
    transition: transform .2s;
}

.icon:hover{
    transform: scale(1.1);
}
.fs-custom-1{
    font-size: calc(2.5rem + 1.5vw)!important;
}

.test{
    border: 1px solid red;
}

.test-2{
    border: 1px solid purple;
}
.emoji {
    animation-name: moviendrew;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 3rem;
}

@keyframes moviendrew {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}